<!DOCTYPE html>
<html>
  <head>
      <title>Music Store</title>
      <link href="~/css/bootstrap.css" rel="StyleSheet" />
      
      <script type="text/javascript" src="~/js/jquery.js"></script>
      <script type="text/javascript" src="~/js/angular.min.js"></script>
      <script type="text/javascript" src="~/js/app/albums/albums.js"></script>
      <script type="text/javascript" src="~/js/bootstrap.js"></script>
  </head>
  <body>
      @RenderBody()
  </body>
</html>